

.NavBar {
    /*background-color: red;*/

    justify-self: center;
    vertical-align: center;
}

.None {

}

/*Should be on the vertical center*/
.NavBarDiv {
    background-color: #303080;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavBarHamburg {
    display:none;
}

.PostDiv {
    background-color: #101060;
    padding: 10px;
    overflow-x: auto;

    height: max-content;
    min-height: 100%;
}

.PostEntry {
    overflow: auto;

    max-height: 400px;
}

.NewsDiv {
    background-color: #101020;
    padding: 10px 30px 10px 20px;
    height: max-content;
    min-height: 100%;
}

.MainContent {
    /*background-color: yellow;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    height: calc(100vh - 60px - (var(--show_hamburg) * 60px));
    overflow-y: auto;
}

/*Space between*/
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding: 20px;
    overflow: clip;
    height: calc(100vh - 60px);
}

/*Media Query if too small
  Make Navbar on top in hamburger menu
  Then PostDiv with full size
  At the bottom NewsDiv*/
@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .MainContent {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .NavBar {
        background-color: #404080;
        display: block;
        width: 100%;
        height: 40px;
    }

    .NavBar2 {
        background-color: #4040A0;
        display: block;
        width: 100%;
        /*height: 100px;*/
    }

    .NavBarDiv {
        display:none;
    }

    .NavBarHamburg {
        display:grid;
        grid-template-columns: 40px 1fr 40px;
    }

    .NavBarHamburg button {
        width: 40px;
        margin: 5px;
    }
}


/*!*NavBar floats left, PostDiv in center and NewsDiv floats right*!*/
/*.main {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 20px;*/
/*}*/

/*!*Media Query if too small*/
/*  Make Navbar on top in hamburger menu*/
/*  Then PostDiv with full size*/
/*  At the bottom NewsDiv*!*/
/*@media (max-width: 600px) {*/
/*    .main {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

