.PostDiv {
    background-color: var(--central-background);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.NewsDiv {
    background-color: #101020;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.PostDiv > ul, .NewsDiv > ul {
    margin-top: 1.5rem;
}

.PostDiv > ul > li, .NewsDiv > ul >li {
    margin-bottom: 2rem;
}