.MainContainer {
    width: 90%;
    margin: auto;
    background-color: var(--central-background);
    border-radius: 0.5rem;
    border: 1px solid var(--container-border);
    padding: 1rem;
}

.TagSearchList > div {
    width: 100%;
    height: 8rem;
    padding: 0.5rem;
    overflow: auto;
    border: 1px solid var(--text-gray);
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    transform: translateY(calc(00% + 2rem));
    display: inline-block;
}

.TagSearchList > div > ul > li {
    margin-bottom: 0.3rem;;
}

.TagSearchList {
    height: 0;
}

.CreatePostButtons {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.CreatePostButtonsBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
}

@media (max-width: 1100px) {
    .CreatePostButtons {
        gap: 0.2rem;
    }

    .CreatePostButtonsBtn {
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .MainContainer {
        width: 95%;
    }

    .PostPreviewDiv > div {
        margin: 1rem 0 0.5rem 0;
    }

    .CreatePostButtons {
        width: 16rem;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        gap: 0.5rem;
    }

    .CreatePostButtonsBtn {
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        font-size: 0.93rem;
    }
}