.PostList > ul > li {
    margin: 0rem 0 2rem 0;
}

.PostList > ul > li > div{
    margin: 0rem 0 2rem 0;
}

.ViewingProfileDiv {
    height: 2rem
}

.ViewingProfileDiv button {
    border: 2px solid var(--text-gray);
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.MainInfo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    max-height: 8rem;
    overflow-y: auto;
}

.MainInfo img {
    float:right;
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    margin: 0 1rem 1rem 0.5rem;
}

.Bio {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    white-space: pre-line;
    max-height: 20rem;
    overflow-y: auto;
}

.Links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    white-space: pre-line;
    max-height: 15rem;
    overflow-y: auto;
}

.PinnedPost > h3 {
    font-size: 1.2rem;

}

.PinnedPost {
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: pre-line;
    max-height: 30rem;
    overflow-y: auto;
}

.PinnedPost > div{
    margin-left: 0;
    margin-right: 0;
}

.FollowBtn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    border: 2px solid var(--text-gray);
    border-radius: 0.5rem;
    display: block;
    margin: auto;
}


@media (max-width: 900px) {
    .Bio, .Links, .MainInfo, .PinnedPost {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .Bio > h3, .Links > h3, .MainInfo > h3, .PinnedPost  > h3 {
        margin-bottom: 1.3rem;
    }

    .MainInfo img {
        width: 4rem;
        height: 4rem;
        margin: 0 0.1rem 0.1rem 0.1rem;
    }

    .ViewingProfileDiv {
        height: 4rem
    }

    .ViewingProfileDiv button {
        margin: 1rem 0.5rem 0.5rem 0;
    }
}