:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


h1, h2, h3 {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

.container {
  background-color: #4c8fec;
  margin: auto 30vh auto 30vh;
  padding: 14px;
  border: 2px solid red;
  color: #ffffff;
}

.cont-inp-header {
    font-size: 16px;
    font-weight: bold;
}

.cont-inp {
  width: 100%;
  display: inline-block;
  margin: 2px auto 8px auto;
  padding: 4px 6px 4px 6px;
}

.cont-btn {
  display: block;
  margin: 10px auto 0px auto;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  font-weight: bold;
}

.cont-inp-btn {
  display: inline-block;
  margin: 2px auto 8px auto;
  padding: 4px 6px 4px 6px;
}