.page {
    background-image: linear-gradient(26deg, #020315 0%, #03243d 80%);
}

.CenterDiv {
    /*border: 1px solid orange;*/
    position: absolute;
    width: 100vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.MainCont {
    /*border: 1px solid red;*/
    margin: auto 5% 60px 10%;
    height: max-content;
    vertical-align: center;
    padding: 10px;
}

.MainCont a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.Title {
    text-align: left;
    font-size: 2.5rem;
}

.Introduction {
    font-size: 1.4rem;
    font-weight: bold;
}

.Description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.Keyword {
    color: red;
    font-weight: bold;
}

.ExtraInfo {
    font-size: 1.1rem;
    margin-top: 2rem;
}

.RoccQuality {
    color: #11e273;
}

.SmolNote {
    display: block;
    padding-top: 0.4rem;
    font-style: italic;
    color: #d2d2d2;
}

.MainButtons {
    margin-top: 2rem;
    height: max-content;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.MainButtons a {
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    text-decoration: none;
    background-color: red;
    margin: 0px 1rem 1rem 0px;
    border-radius: 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.MainButtons a:hover {
    background-color: #f43e3e;
}

@media (max-width: 370px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 340px) {
    html {
        font-size: 13px;
    }

    .Title {
        font-size: 2rem;
    }

    .Introduction {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 250px) {
    html {
        font-size: 11px;
    }

    .Introduction {
        font-size: 1.1rem;
    }

    .Description {
        font-size: 1.1rem;
    }
}

@media (max-width: 220px) {
    html {
        font-size: 8px;
    }
}