.CenterContentDiv {
    background-color: var(--central-background);
    padding: 1rem;
    margin: auto;
    /*width: 60%;*/
    width: 100%;
}

/*@media (max-width: 900px) {*/
/*    .CenterContentDiv {*/
/*        width: 100%;*/
/*    }*/
/*}*/