.PostEntryDiv {
    overflow-y: auto;
    overflow-x: hidden;
    /*max-height: 520px;*/
    border: 2px solid #8080F0;
    padding: 10px;
    margin: 10px;
}

.PostEntryHeader {
    text-align: left;
    margin-bottom: 15px;
    display: block;
}

.PostBody {
    text-align: left;
    margin-bottom: 15px;
    white-space: pre-line;
    display: block;
    max-height: 340px;
    overflow-y: auto;
}

.PostUserHeader {
    text-align: left;
    margin-bottom: 5px;
    display: block;
}

.PostBody h1, .PostBody h2, .PostBody h3, .PostBody h4, .PostBody h5, .PostBody h6 {
    text-align: left;
}

.PostBody ul, .PostBody ol {
    padding-inline-start: 25px;
    white-space: normal;
}

/*Wrap text*/
.PostTags {
    text-align: left;
    margin-bottom: 5px;
    display: block;
    white-space: pre-line;
}