.code * {
    font-family: Consolas;
    background-color: #0e0e42;
}

.code {
    font-family: Consolas;
    background-color: #0e0e42;
    display: inline;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    word-break: break-word;
    hyphens: auto;
    white-space: pre;
}

.codeBlock {
    display: block;
    text-wrap: nowrap;
}

.codeBlock * {
    text-wrap: nowrap;
}

.codeSpan {
    display: inline;
    text-wrap: wrap;
}

.chatImage {
    max-width: 100%;
}

.chatVideo {
    max-width: 100%;
}

.chatAudio {
    max-width: 100%;
}

.pingSelf {
    text-decoration: none;
    color: yellow;
}

.pingOther {
    text-decoration: none;
    color: red;
}

.pingUnknown {
    text-decoration: none;
    cursor: not-allowed;
    color: red;
}

.pingEveryone {
    text-decoration: none;
    cursor: not-allowed;
    color: orange;
}