.PostDiv {
    background-color: #101060;
    padding: 10px;
    margin: auto;
    width: 60%;
}

.UserEntry {
    background-color: #101060;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #8080F0;
    padding: 10px;
    margin: 10px auto 10px auto;
}

@media (max-width: 900px) {
    .PostDiv {
        width: 100%;
    }
}