.SearchLabel {
    font-size: 1.5rem;
    padding: 0.2rem;
    display: block;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
}

.SearchInput {
    font-size: 1.2rem;
    padding: 0.2rem;
    border: 1px solid var(--text-gray);
    display: block;
    margin: auto auto 1.2rem auto;
}

.SearchButton {
    font-size: 1.2rem;
    padding: 0.2rem;
    border: 2px solid var(--text-gray);
    display: block;
    margin: auto;
    text-align: center;
}

.TagDiv {
    font-size: 1.2rem;
    color: var(--text-gray);
    margin-bottom: 0.1rem;
}

.TagDiv a {
    text-decoration: none;
    color: var(--foreground);
}

.SearchResBox {
    margin: 0.5rem 0 0.5rem 0;
    min-height: 2rem;
    max-height: 15rem;
    overflow: auto;
}

.LinkDiv {
    font-size: 1.2rem;
    color: var(--text-gray);
    margin-bottom: 0.1rem;
}

.LinkDiv a {
    text-decoration: none;
    color: var(--foreground);
    font-weight: bold;
}

.LinkDiv span {
    text-decoration: none;
    color: var(--text-gray);
    font-weight: normal;
}


@media (max-width: 900px) {
    .SearchLabel {
        font-size: 1.3rem;
        padding: 0.1rem;
        margin: 0.5rem 0 0 0;
    }

    .SearchResBox {
        margin: 0.5rem 0 1rem 0;
        min-height: 2rem;
        max-height: 8rem;
    }

    .SearchInput {
        font-size: 1rem;
    }

    .TagDiv {
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    .LinkDiv {
        font-size: 1.1rem;
        margin-bottom: 0.1rem;
    }
}