.MainDiv {
    background: var(--account-settings-background);
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--text-gray);
    border-radius: 0.5rem;
}

.TrustedUrlsInput {
    width: 20rem;
}

.TrustedUrlsInputButton {
    margin-left: 1rem;
}

.CssTextArea {
    display: block;
    margin: 1rem auto;
    border: 1px solid var(--text-gray);
    border-radius: 0.5rem;
    width: 80%;
    height: 150px;
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
    padding: 10px;
    font-family: 'Consolas', 'Courier New', monospace;
    tab-size: 4;
}

.FeedbackTextArea {
    display: block;
    margin: 1rem auto;
    border: 1px solid var(--text-gray);
    border-radius: 0.5rem;
    width: 60%;
    height: 150px;
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
    padding: 10px;
}

.LastButtons {

}

.LastButtons button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: fit-content;
}