.CssTextArea {
    display: block;
    margin: 0px auto;
    border: 1px solid red;
    width: 80%;
    height: 150px;
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
    padding: 10px;
    font-family: 'Consolas', 'Courier New', monospace;
    tab-size: 4;
}